body {
    font-family: 'Caveat Brush', sans-serif;
    text-align: center;
    background-color: #57B400;
    color: #000EB4;
}

#board {
    width: 680px;
    height: 680px;
    margin: 0 auto;
    /* can do this with grid-template-columns, grid-template-rows */
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #000EB4;
    border-radius: 25px;
}

#board div {
    width: 200px;
    height: 200px;
}