* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Caveat Brush', sans-serif;
    text-align: center;
    background-color: #57B400;
    color: #000EB4;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#board {
    width: 680px;
    height: 680px;
    margin: 0 auto;
    /* can do this with grid-template-columns, grid-template-rows */
    display: flex;
    flex-wrap: wrap;
    border: 2px solid white;
    border-radius: 25px;
    gap: 40px;
}

#board div {
    width: 200px;
    height: 200px;
    background-color: #76552b;
    border-radius: 50%;
    /*box-shadow idea from: https://www.youtube.com/watch?v=b20YueeXwZg&t=878s */
    box-shadow: inset 0 10px 0 7px #402905;
}

#board div img {
    width: 160px;
    height: 160px;
    /* I had this problem where you could highlight the image, I ound this online and it works https://stackoverflow.com/questions/6816080/how-to-disable-highlight-on-an-image*/
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

@media only screen and (max-width: 1040px) {
    body {
      width: 100%;
    }
  }

  /*some ideas were taken from youtube videos:
https://www.youtube.com/results?search_query=how+to+make+a+whac+a+mole+game+in+html+css+and+js
https://www.youtube.com/watch?v=D9ZfzXaCPuI&t=922s
https://www.youtube.com/watch?v=rJU3tHLgb_c&t=1169s */